# Environment
ENVIRONMENT=development

# API configuration
API_DOMAIN=localhost
API_PROTOCOL=http
CORS_ORIGINS=http://localhost,http://127.0.0.1

# Database configuration
DATABASE_URL=sqlite:///./taskmanager.db
